<?xml version="1.0" ?>
<launch>
  <arg name="tf_prefix" default="" />
  <!--for real robot, you can identify these topic and control it-->
  <arg name="TOPIC_ARM_STATE" default="/$(arg tf_prefix)/cartesian_velocity_controller/ee_state"/>
  <arg name="TOPIC_ARM_COMMAND" default="/$(arg tf_prefix)/cartesian_velocity_controller/command_cart_vel"/>
  <arg name="TOPIC_WRENCH_STATE" default="/$(arg tf_prefix)/wrench_fake_signal"/>
  <arg name="TOPIC_CAR_COMMAND" default="/$(arg tf_prefix)/cmd_vel"/>
  <arg name="BASE_LINK" default="$(arg tf_prefix)_ur5ebase_link"/>
  <arg name="END_LINK" default="$(arg tf_prefix)_ur5etool0"/>


  <param name="topic_arm_state" value="$(arg TOPIC_ARM_STATE)"/>
  <param name="topic_arm_command" value="$(arg TOPIC_ARM_COMMAND)"/>
  <param name="topic_wrench_state" value="$(arg TOPIC_WRENCH_STATE)"/>
  <param name="topic_car_command" value="$(arg TOPIC_CAR_COMMAND)"/>
  <param name="base_link" value="$(arg BASE_LINK)"/>
  <param name="end_link" value="$(arg END_LINK)"/>


  <rosparam file="$(find admittance)/config/HybridAdmittanceParams.yaml" command="load"/>

  <node pkg="admittance" name="admittance" type="hybridadmittance_node" output="screen"/>

</launch>