<?xml version="1.0"?>
<launch>
  <arg name="gui" default="True" />
  
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder $(find robotiq_description)/urdf/robotiq_85_gripper.xacro" />
  
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher"
        type="joint_state_publisher" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="state_publisher" />
  
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find robotiq_description)/config/robotiq_85.rviz"
        required="true" />
</launch>
