<?xml version="1.0"?>
<robot name="robotiq_85_gripper_sim_base" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="robotiq_85_gripper_sim_base" params="prefix">
    <link name="${prefix}gripper_root_link">
      <visual>
        <origin xyz="0.05 0.05 0.5" rpy="0 0 0"/>
        <geometry>
          <box size="0.1 0.1 1.0"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.05 0.05 0.5" rpy="0 0 0"/>
        <geometry>
          <box size="0.1 0.1 1.0"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="1e2" />
        <origin xyz="0.0 0.0 0.0" />
        <inertia ixx = "0.000001" ixy = "0.000000" ixz = "0.000000"
             iyx = "0.000000" iyy = "0.000001" iyz = "0.000000"
             izx = "0.000000" izy = "0.000000" izz = "0.000001" />
      </inertial>
    </link>
  </xacro:macro>
</robot>
